<datalist id="universities-suggestions">
  <option value="Финансовый университет при Правительстве Российской Федерации"></option>
  <option value="МФТИ (Московский физико-технический институт)"></option>
  <option value="МГУ им. М.В. Ломоносова"></option>
  <option value="НИУ ВШЭ — Высшая школа экономики"></option>
  <option value="МГТУ им. Н.Э. Баумана"></option>
  <option value="НИЯУ МИФИ"></option>
  <option value="МТУСИ"></option>
  <option value="РТУ МИРЭА"></option>
  <option value="МАИ (Московский авиационный институт)"></option>
  <option value="МИСиС"></option>
</datalist>
